* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Gothic A1", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

html {
  box-sizing: border-box;
}
input:focus {
  outline: none;
}
