:root {
  --main-color: black;
  --back-color: white;
  --main-grey-color: #1f1f1f;
  --main-line-color: #919191;
  --light-grey-color: #c6c6c6;
  --sub-color-1: #68edcb;
  --sub-color-2: #00a749;
  --sub-color-3: #d3fbd8;
  --sub-color-4: #f8fff8;
  --sub-color-5: #d5f1b5;
  --box-shadow: 0px 1rem 0.3rem -1rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Gothic A1', sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}
button {
  cursor: pointer;
  text-decoration: none;
}

/* a:link, visited, hover, active순으로 */
a:link,
a:visited {
  color: var(--main-color);
}
a:hover {
  text-decoration: underline;
}

html {
  box-sizing: border-box;
}
textarea:focus,
input:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}
