* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Gothic A1", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* a:link, visited, hover, active순으로 */
a:link,
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}

html {
  box-sizing: border-box;
}
textarea:focus,
input:focus {
  outline: none;
}
